<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
            <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                <legend>Add Products</legend>

                <div class="form-group">
                    <label for="name"> Name</label>
                    <input type="text" class="form-control" name="name" >
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="category">
                </div>

                <div class="form-group">
                    <label for="discription">Discription</label>
                    <input type="text" class="form-control" name="discription">
                </div>

                <div class="form-group">
                    <label for="pr">Price</label>
                    <input type="number" class="form-control" name='price'>
                </div>

                
                    <label >Image</label>
                     <img src="/product-images/.jpg" style="width: 100px;height: auto;"  class="p-3">
                    <input type="file" class="form-control" name="image" id="img">
                

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>