<section class="p-5 ">
<div class="container">
  <div class="col-md-12 ">
    <h3 class="text-center">Login to your Account</h3>
<form style="margin-left: 20em;" action="/login" method="POST">
  
  }{{#if loginErr}}
  <p class="error">{{loginErr}}</p>
  {{/if}
  <div class="form-group" >
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="Email" style="width: 25em;" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control"  style="width: 25em;" name="Password" placeholder="Password">
     <a href="/signup">Create a Account</a>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</section>