<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
              <div class="col-md-6">
                  <div>
                  <h3>Enter Delivery Details</h3><br>
                   <label>Address</label>
                <input type="text" class="form-control"   name="Address">
                 <label>Pincode</label>
                <input type="number" class="form-control"  name="Pin">
                  <label>Mobile</label>
                <input type="number" class="form-control"  name="Mobile">
                </div>
              </div>
              <div class="col-md-4 border border-dark ml-3 rounded">
                  <div class="container checkout mt-4 ml-3" >
                      <h5 class="d-flex" >Total Amount Rs:{{total}}</h5>
                      <hr>
                      <div class="payment">
                      <p>Payment Method</p>
                      <label class="radio-inline">
                          <input type="radio" value="COD" name="online-Payment">COD
                      </label><br>
                      <label class="radio-inline">
                          <input type="radio" value="ONL"  name="online-Payment">Online Payment
                      </label>
                      <button type="submit" class="btn btn-primary float-right mt-5">Checkout</button>
                      </div>
                  </div>
              </div>
            </div>
        </form>
    </div>
</section>